@media screen and (min-width:768px) {

/* ↓↓↓↓↓ 基本設定 開始 ↓↓↓↓↓ */
$black: #000;
$white: #fff;
$dark-grey: #333;
$midium-grey: #777;
$light-grey: #ccc;
$navy: #071429;
@mixin font-size($fallback, $minimum, $adjust) {
  @media screen and (max-width:1279px) {
    font-size: $fallback; /* フォールバック */
    font-size: calc(#{$minimum} + ((1vw - 0.768rem) * #{$adjust}));
  }
  @media screen and (min-width:1280px) {
    font-size: $fallback;
  }
}
@mixin yu-mincho($fallback, $minimum, $adjust) {
  font-family: 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', sans-serif;
  @media screen and (max-width:1279px) {
    font-size: $fallback; /* フォールバック */
    font-size: calc(#{$minimum} + ((1vw - 0.768rem) * #{$adjust}));
  }
  @media screen and (min-width:1280px) {
    font-size: $fallback;
  }
}
@mixin century-gothic($weight, $fallback, $minimum, $adjust) {
  font-family: century-gothic, sans-serif;
  font-weight: $weight;
  @media screen and (max-width:1279px) {
    font-size: $fallback; /* フォールバック */
    font-size: calc(#{$minimum} + ((1vw - 0.768rem) * #{$adjust}));
  }
  @media screen and (min-width:1280px) {
    font-size: $fallback;
  }
}
@mixin slide-button($direction) {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: $white;
  cursor: pointer;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    #{$direction}: 8px solid $black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
}

html {
  font-family: 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  font-size: 62.5%;
}
body {
  overflow: hidden;
  font-size: 1.4rem;
  letter-spacing: .08em;
  color: $white;
  background-color: $navy;
}
a {
  color: $white;
  text-decoration: none;
}

// @keyframes fadein {
//   0% {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
// .fadein {
//   opacity: 0;
//   transition: .3s linear;
// }
// .scrollin {
//   opacity: 1;
// }
/* ↑↑↑↑↑ 基本設定 終了 ↑↑↑↑↑ */

/* ↓↓↓↓↓ ナビゲーション 開始 ↓↓↓↓↓ */
nav {
  position: fixed;
  z-index: 10;
  width: 6.25vw;
  max-width: 80px;
  height: 100vh;
  background-color: $black;
  .menu-button {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    .hamburger-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      height: 25%;
      margin: auto;
      cursor: pointer;
      span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $white;
      }
    }
  }
  .contact-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 33.33%;
      height: 1px;
      background-color: $white;
    }
    p {
      @include century-gothic(400, 1.2rem, 1rem, .3914);
      letter-spacing: .6em;
      transform: rotate(-90deg);
    }
  }
}
/* ↑↑↑↑↑ ナビゲーション 終了 ↑↑↑↑↑ */

/* ↓↓↓↓↓ コンテンツ 開始 ↓↓↓↓↓ */
.content {
  display: flex;
  &::before {
    content: '';
    display: block;
    width: 6.25vw;
    max-width: 80px;
  }
  .container {
    position: relative;
    flex: 1;
  }
}

/* ↓↓↓↓↓ ヘッダー 開始 ↓↓↓↓↓ */
header {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.25vw;
  max-height: 80px;
  padding: 0 3.33%;
  background-color: $black;
  h1 {
    width: 16.5%;
    max-width: 198px;
    height: 72.5%;
    max-height: 58px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .sns-icon {
    display: flex;
    p {
      @include font-size(2.8rem, 2rem, 1.5656);
      &:first-of-type {
        margin-right: .71em;
      }
    }
  }
}
/* ↑↑↑↑↑ ヘッダー 終了 ↑↑↑↑↑ */

/* ↓↓↓↓↓ メイン 開始 ↓↓↓↓↓ */
main {
  /* ↓↓↓↓↓ セクション(hero) 開始 ↓↓↓↓↓ */
  .hero {
    position: relative;
    height: 100vh;
    margin-bottom: 8.33%;
    &__text {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      padding-left: 3.33%;
      white-space: nowrap;
      &__title {
        order: 2;
        display: flex;
        align-items: center;
        h2 {
          @include yu-mincho(2rem, 1.8rem, .3914);
          letter-spacing: .04em;
          font-weight: normal;
          margin-right: 3em;
        }
        .contact-button {
          @include century-gothic(400, 1.2rem, 1rem, .3914);
          letter-spacing: .6em;
          a {
            display: block;
            padding: 1.5em 3em;
            border: 1px solid #fff;
            background-color: rgba($black, .5);
          }
        }
      }
      &__subtitle {
        order: 1;
        p {
          &:first-of-type {
            @include yu-mincho(1.6rem, 1.4rem, .3914);
            letter-spacing: .104em;
            padding-top: 3.75em;
            margin-bottom: 1.875em;
          }
          &:last-of-type {
            @include century-gothic(700, 4.8rem, 4rem, 1.5656);
            line-height: 1.25;
            letter-spacing: .06em;
            margin-bottom: 1.25em;
          }
        }
      }
    }
    &__image {
      position: absolute;
      right: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 75vw;
      height: 100vh;
      &::before {
        content: '';
        display: block;
        height: 6.25vw;
        max-height: 80px;
      }
      &__slide {
        position: relative;
        width: 100%;
        height: 100%;
        li {
          list-style-type: none;
          position: absolute;
          text-align: right;
          overflow: hidden;
          width: 100%;
          height: 100%;
          &.slide01 {
            // visibility: hidden;
          }
          &.slide02 {
            visibility: hidden;
          }
          &.slide03 {
            visibility: hidden;
          }
          img {
            height: 100%;
          }
        }
      }
      &__button {
        position: absolute;
        bottom: 4.17%;
        right: 4.17%;
        display: flex;
        li {
          list-style-type: none;
          width: 1em;
          height: 1em;
          border: 1px solid $white;
          background-color: rgba($black, .5);
          cursor: pointer;
          &:first-of-type {
            margin-right: 1em;
            background-color: $white;
          }
          &:nth-of-type(2) {
            margin-right: 1em;
          }
        }
      }
    }
    .scroll {
      position: absolute;
      bottom: 0;
      left: 3.33%;
      transform-origin: left top;
      transform: rotate(-90deg);
      @include century-gothic(400, 1rem, 1rem, 0);
      letter-spacing: .9em;
      &::after {
        content: '';
        display: block;
        width: 120%;
        height: 1em;
        border-left: 1px solid $white;
        border-bottom: 1px solid $white;
        transform: translateX(-1.5em) skew(-45deg);
      }
    }
  }
  /* ↑↑↑↑↑ セクション(hero) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(about-glamping) 開始 ↓↓↓↓↓ */
  .about-glamping {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8.33%;
    &::before {
      position: absolute;
      top: 0;
      left: 1.66%;
      content: '';
      display: block;
      width: 60%;
      height: 1px;
      background-color: $midium-grey;
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 1.66%;
      content: '';
      display: block;
      width: 60%;
      height: 1px;
      background-color: $midium-grey;
    }
    &__text {
      width: 30%;
      height: 480px;
      margin-right: 6.66%;
      background-color: $black;
      &__inner {
        transform: translate(11.11%, 8.33%);
        height: 100%;
        margin: 0 5.55%;
        h2 {
          text-align: center;
          @include yu-mincho(2.2rem, 2rem, .3914);
          font-weight: normal;
          margin-bottom: 22.22%;
          span {
            display: inline-block;
            text-align: left;
          }
        }
        p {
          text-align: justify;
          @include font-size(1.4rem, 1.2rem, .3914);
          line-height: 2;
          &:first-of-type {
            text-align: center;
            margin-bottom: 22.22%;
          }
        }
      }
    }
    &__image {
      position: absolute;
      left: 0;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 63.34%;
      height: 100%;
      p {
        height: 75%;
        img {
          height: 100%;
        }
      }
    }
  }
  /* ↑↑↑↑↑ セクション(about-glamping) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(tent-room) 開始 ↓↓↓↓↓ */
  .tent-room {
    position: relative;
    display: flex;
    margin-bottom: 8.33%;
    &__text {
      position: relative;
      width: 30%;
      height: 360px;
      margin-left: 6.66%;
      &::before {
        position: absolute;
        top: -5.55%;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $black;
      }
      &::after {
        position: absolute;
        top: 5.55%;
        right: -11.11%;
        z-index: -1;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($dark-grey, .5);
      }
      &__inner {
        transform: translate(-11.11%, 11.11%);
        height: 100%;
        margin: 0 5.55%;
        h2 {
          @include century-gothic(700, 3.2rem, 3rem, .3914);
          margin-bottom: 22.22%;
        }
        p {
          text-align: justify;
          @include font-size(1.4rem, 1.2rem, .3914);
          line-height: 2;
        }
      }
    }
    &__image {
      position: absolute;
      right: 0;
      z-index: -2;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      width: 80%;
      height: 100%;
      p {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  /* ↑↑↑↑↑ セクション(tent-room) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(glamping-tent) 開始 ↓↓↓↓↓ */
  .glamping-tent {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8.33%;
    &__text {
      position: relative;
      width: 30%;
      height: 360px;
      margin-right: 6.66%;
      &::before {
        position: absolute;
        top: -5.55%;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $black;
      }
      &::after {
        position: absolute;
        top: 5.55%;
        left: -11.11%;
        z-index: -1;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($dark-grey, .5);
      }
      &__inner {
        transform: translate(11.11%, 11.11%);
        height: 100%;
        margin: 0 5.55%;
        h2 {
          @include century-gothic(700, 3.2rem, 3rem, .3914);
          margin-bottom: 22.22%;
        }
        p {
          text-align: justify;
          @include font-size(1.4rem, 1.2rem, .3914);
          line-height: 2;
        }
      }
    }
    &__image {
      position: absolute;
      left: 0;
      z-index: -2;
      display: flex;
      overflow: hidden;
      width: 80%;
      height: 100%;
      p {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  /* ↑↑↑↑↑ セクション(glamping-tent) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(outdoors) 開始 ↓↓↓↓↓ */
  .outdoors {
    position: relative;
    display: flex;
    margin-bottom: 8.33%;
    &__text {
      position: relative;
      width: 30%;
      height: 360px;
      margin-left: 6.66%;
      &::before {
        position: absolute;
        top: -5.55%;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $black;
      }
      &::after {
        position: absolute;
        top: 5.55%;
        right: -11.11%;
        z-index: -1;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($dark-grey, .5);
      }
      &__inner {
        transform: translate(-11.11%, 11.11%);
        height: 100%;
        margin: 0 5.55%;
        h2 {
          @include century-gothic(700, 3.2rem, 3rem, .3914);
          margin-bottom: 22.22%;
        }
        p {
          text-align: justify;
          @include font-size(1.4rem, 1.2rem, .3914);
          line-height: 2;
        }
      }
    }
    &__image {
      position: absolute;
      right: 0;
      z-index: -2;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      width: 80%;
      height: 100%;
      p {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  /* ↑↑↑↑↑ セクション(outdoors) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(meal) 開始 ↓↓↓↓↓ */
  .meal {
    position: relative;
    margin-bottom: 13.33%;
    h2 {
      display: flex;
      align-items: center;
      @include yu-mincho(2.2rem, 2rem, .3914);
      font-weight: normal;
      margin-right: 3.33%;
      white-space: nowrap;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin: 1.66%;
        background-color: $midium-grey;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      .dinner {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        height: 320px;
        &__text {
          position: relative;
          width: 23.33%;
          margin-right: 6.66%;
          &::before {
            position: absolute;
            top: -40px;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 1000px;
            background-color: $black;
          }
          &__inner {
            transform: translate(14.29%, 14.29%);
            height: 280px;
            margin: 0 7.14%;
            h3 {
              @include century-gothic(700, 3.2rem, 3rem, .3914);
              margin-bottom: 28.57%;
            }
            p {
              text-align: justify;
              @include font-size(1.4rem, 1.2rem, .3914);
              line-height: 2;
            }
          }
        }
        &__image {
          position: absolute;
          left: 0;
          width: 66.66%;
          &__slide {
            display: flex;
            flex-direction: row-reverse;
            height: 280px;
            background-color: $dark-grey;
            li {
              list-style-type: none;
            }
          }
          &__button {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            .button01 {
              @include slide-button(border-right);
            }
            .button02 {
              @include slide-button(border-left);
              transform: translateX(50%);
            }
          }
        }
      }
      .desert {
        position: relative;
        display: flex;
        height: 320px;
        &__text {
          position: relative;
          width: 23.33%;
          margin-left: 6.66%;
          &::before {
            position: absolute;
            top: -320px;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 920px;
            background-color: $black;
          }
          &__inner {
            transform: translate(-14.29%, 14.29%);
            height: 280px;
            margin: 0 7.14%;
            h3 {
              @include century-gothic(700, 3.2rem, 3rem, .3914);
              margin-bottom: 28.57%;
            }
            p {
              text-align: justify;
              @include font-size(1.4rem, 1.2rem, .3914);
              line-height: 2;
            }
          }
        }
        &__image {
          position: absolute;
          right: 0;
          width: 66.66%;
          &__slide {
            display: flex;
            height: 280px;
            background-color: $dark-grey;
            li {
              list-style-type: none;
            }
          }
          &__button {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            .button01 {
              @include slide-button(border-right);
              transform: translateX(-50%);
            }
            .button02 {
              @include slide-button(border-left);
            }
          }
        }
      }
      .morning {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        height: 320px;
        &__text {
          position: relative;
          width: 23.33%;
          margin-right: 6.66%;
          &::after {
            position: absolute;
            bottom: 0;
            right: 107.14%;
            content: '';
            display: block;
            width: 285.71%;
            height: 1px;
            background-color: $midium-grey;
          }
          &__inner {
            transform: translate(14.29%, 14.29%);
            height: 280px;
            margin: 0 7.14%;
            h3 {
              @include century-gothic(700, 3.2rem, 3rem, .3914);
              margin-bottom: 28.57%;
            }
            p {
              text-align: justify;
              @include font-size(1.4rem, 1.2rem, .3914);
              line-height: 2;
            }
          }
        }
        &__image {
          position: absolute;
          left: 0;
          width: 66.66%;
          &__slide {
            display: flex;
            flex-direction: row-reverse;
            height: 280px;
            background-color: $dark-grey;
            li {
              list-style-type: none;
            }
          }
          &__button {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            .button01 {
              @include slide-button(border-right);
            }
            .button02 {
              @include slide-button(border-left);
              transform: translateX(50%);
            }
          }
        }
      }
    }
  }
  /* ↑↑↑↑↑ セクション(meal) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(about-reservation) 開始 ↓↓↓↓↓ */
  .about-reservation {
    margin: 0 16.66% 10% 16.66%;
    h2 {
      text-align: center;
      @include font-size(2.2rem, 2rem, .3914);
      margin-bottom: 2.5%;
    }
    h4 {
      display: flex;
      align-items: center;
      margin-bottom: 7.5%;
      span {
        @include yu-mincho(1.8rem, 1.6rem, .3914);
        letter-spacing: .8em;
        font-weight: normal;
        margin-right: -.8em;
        white-space: nowrap;
      }
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-right: 3.75%;
        background-color: $white;
      }
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-left: 3.75%;
        background-color: $white;
      }
    }
    table {
      border-collapse: collapse;
      @include font-size(1.4rem, 1.2rem, .3914);
      margin: 0 auto;
      tr {
        th {
          text-align: right;
          vertical-align: top;
          font-weight: normal;
          white-space: nowrap;
        }
        td {
          padding: 0 0 2.5% 5%;
          ul {
            li {
              list-style-type: none;
              position: relative;
              padding-left: 1em;
              &::before {
                position: absolute;
                left: 0;
                content: '-\0020';
              }
            }
          }
          .footnote {
            position: relative;
            @include font-size(1.2rem, 1rem, .3914);
            letter-spacing: .12em;
            padding-left: 1em;
            &::before {
              position: absolute;
              left: 0;
              content: '※';
            }
          }
        }
      }
    }
  }
  /* ↑↑↑↑↑ セクション(about-reservation) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(attention) 開始 ↓↓↓↓↓ */
  .attention {
    margin: 0 16.66% 10% 16.66%;
    h3 {
      @include font-size(1.8rem, 1.6rem, .3914);
      letter-spacing: .16em;
      color: $midium-grey;
      padding-bottom: 2.5%;
      margin-bottom: 2.5%;
      border-bottom: 1px solid $midium-grey;
    }
    h4 {
      @include font-size(1.8rem, 1.4rem, .7828);
      font-weight: normal;
      margin-bottom: 7.5%;
      .heading {
        color: $light-grey;
        cursor: pointer;
      }
      .slash {
        color: $midium-grey;
        padding: 0 1em;
      }
    }
    .switching {
      position: relative;
      &__text {
        @include font-size(1.4rem, 1.2rem, .3914);
        line-height: 2;
        &:first-of-type {
          // visibility: hidden;
        }
        &:nth-of-type(2) {
          position: absolute;
          top: 0;
          visibility: hidden;
        }
        &:last-of-type {
          position: absolute;
          top: 0;
          visibility: hidden;
        }
        dl {
          display: flex;
          flex-wrap: wrap;
          dt {
            width: 12.5%;
          }
          dd {
            width: 87.5%;
          }
        }
        ul {
          li {
            list-style-type: none;
            position: relative;
            padding-left: 1em;
            &::before {
              position: absolute;
              left: 0;
              content: '-\0020';
            }
          }
        }
        .footnote {
          position: relative;
          padding-left: 1em;
          &::before {
            position: absolute;
            left: 0;
            content: '※';
          }
        }
      }
    }
  }
  /* ↑↑↑↑↑ セクション(attention) 終了 ↑↑↑↑↑ */

  /* ↓↓↓↓↓ セクション(contact) 開始 ↓↓↓↓↓ */
  /* ↑↑↑↑↑ セクション(contact) 終了 ↑↑↑↑↑ */

}
/* ↑↑↑↑↑ メイン 終了 ↑↑↑↑↑ */

/* ↓↓↓↓↓ フッター 開始 ↓↓↓↓↓ */
/* ↑↑↑↑↑ フッター 終了 ↑↑↑↑↑ */

/* ↑↑↑↑↑ コンテンツ 終了 ↑↑↑↑↑ */

}
