@charset "UTF-8";
@media screen and (max-width: 767px) {
  /* ↓↓↓↓↓ 基本設定 開始 ↓↓↓↓↓ */
  html {
    font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, sans-serif;
    font-size: 62.5%;
  }
  body {
    overflow: hidden;
    font-size: 1.6rem;
    color: #333;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* ↑↑↑↑↑ 基本設定 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ ヘッダー 開始 ↓↓↓↓↓ */
  header {
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
  }
  header.open {
    z-index: 15;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90vw;
    margin: 0 auto;
    height: 13.04vw;
    max-height: 100px;
    min-height: 50px;
  }
  header .container__left {
    display: flex;
    align-items: center;
  }
  header .container__left h1 img {
    vertical-align: middle;
    height: 7.82vw;
    max-height: 60px;
    min-height: 30px;
  }
  header .container__left p {
    display: none;
  }
  header .container__right {
    display: flex;
    align-items: center;
  }
  header .container__right .menu-button {
    background-color: #464b50;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
    transition: .3s;
    cursor: pointer;
  }
  header .container__right .menu-button:hover {
    padding-top: 6.66%;
  }
  header .container__right .menu-button a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 19.56vw;
    max-width: 150px;
    min-width: 75px;
    height: 15.65vw;
    max-height: 120px;
    min-height: 60px;
    padding-top: 13.33%;
    text-decoration: none;
  }
  header .container__right .menu-button a p.icon {
    width: 6.52vw;
    max-width: 50px;
    min-width: 25px;
    height: 6.52vw;
    max-height: 50px;
    min-height: 25px;
    background: url("../images/icon_hamburger.png") 0 0 no-repeat/contain;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: .3s ease-in;
  }
  header .container__right .menu-button a p.text {
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 3.132));
    letter-spacing: .14em;
    color: #fff;
  }
  header .container__right .menu-button.active p.icon {
    background: url("../images/icon_cross.png") 0 0 no-repeat/contain;
  }
  header .container__right .menu-button.active p.text {
    font-size: 0;
  }
  header .container__right .menu-button.active p.text::before {
    content: 'CLOSE';
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 3.132));
    letter-spacing: .125em;
    color: #fff;
  }
  header .container__right .empty-button {
    width: 1.3vw;
    max-width: 10px;
    min-width: 5px;
  }
  header .container__right .contact-button {
    background-color: #e1007e;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
    transition: .3s;
  }
  header .container__right .contact-button:hover {
    padding-top: 6.66%;
  }
  header .container__right .contact-button a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 19.56vw;
    max-width: 150px;
    min-width: 75px;
    height: 15.65vw;
    max-height: 120px;
    min-height: 60px;
    padding-top: 13.33%;
    text-decoration: none;
  }
  header .container__right .contact-button a p.icon {
    width: 6.52vw;
    max-width: 50px;
    min-width: 25px;
    height: 6.52vw;
    max-height: 50px;
    min-height: 25px;
    background: url("../images/icon_mail.png") 0 0 no-repeat/contain;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  header .container__right .contact-button a p.text {
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 3.132));
    letter-spacing: .1em;
    color: #fff;
  }
  /* ↑↑↑↑↑ ヘッダー 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ ドロワーメニュー 開始 ↓↓↓↓↓ */
  .drawer-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: scroll;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .drawer-menu.open {
    visibility: visible;
  }
  .drawer-menu.open ul {
    animation: fadein .7s linear;
  }
  .drawer-menu::before {
    content: '';
    display: block;
    height: 26.08vw;
    max-height: 200px;
    min-height: 100px;
  }
  .drawer-menu::after {
    content: '';
    display: block;
    height: 13.04vw;
    max-height: 100px;
    min-height: 50px;
  }
  .drawer-menu ul {
    text-align: center;
    list-style-type: none;
  }
  .drawer-menu ul li {
    margin: 0 10%;
    border-bottom: 1px solid #fff;
  }
  .drawer-menu ul li:last-of-type {
    border-bottom: 0;
  }
  .drawer-menu ul li a {
    display: block;
    width: 100%;
    padding: 10% 0;
    font-size: 2.2rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 1.3423));
    letter-spacing: .1em;
    color: #fff;
    text-decoration: none;
    transition: .3s background-color ease-out;
  }
  .drawer-menu ul li a:hover {
    background-color: rgba(102, 102, 102, 0.8);
  }
  /* ↑↑↑↑↑ ドロワーメニュー 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ メイン 開始 ↓↓↓↓↓ */
  main {
    /* ↓↓↓↓↓ セクション(hero) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(hero) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(question) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(question) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(resolution) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(resolution) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(recommended) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(recommended) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(flow) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(flow) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(message) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(message) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(consultation) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(consultation) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(contact) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(contact) 終了 ↑↑↑↑↑ */
  }
  main::before {
    content: '';
    display: block;
    height: 13.04vw;
    max-height: 100px;
    min-height: 50px;
  }
  main section.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9.13%;
    background: url("../images/hero.jpg") center 0 no-repeat/cover;
  }
  main section.hero h1 {
    text-align: center;
    padding-top: 5.22%;
    font-size: 4rem;
    /* フォールバック */
    font-size: calc(3rem + ((1vw - 0.32rem) * 2.2371));
    line-height: 1.2;
    letter-spacing: .032em;
    color: #fff;
  }
  main section.hero h1 span {
    padding-bottom: .5em;
    border-bottom: 1px solid #fff;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 0.8949));
    line-height: 3;
    letter-spacing: .4em;
    font-weight: normal;
  }
  main section.hero > p {
    text-align: justify;
    padding: 5.22% 5vw;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2;
    letter-spacing: .08em;
    color: #fff;
  }
  main section.hero > p br:nth-of-type(2n) {
    display: none;
  }
  main section.hero .contact-button {
    padding-bottom: 5.22%;
  }
  main section.hero .contact-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39.11vw;
    max-width: 300px;
    min-width: 200px;
    height: 7.82vw;
    max-height: 60px;
    min-height: 40px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: .3s ease-out;
    background-color: #e1007e;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
  }
  main section.hero .contact-button a:hover {
    background-color: #ae0061;
  }
  main section.hero .contact-button a p.icon {
    width: 3.26vw;
    max-width: 25px;
    min-width: 17.5px;
    height: 3.26vw;
    max-height: 25px;
    min-height: 17.5px;
    margin-right: 3.33%;
    background: url("../images/icon_mail.png") 0 0 no-repeat/contain;
  }
  main section.hero .contact-button a p.text {
    font-size: 2rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.8949));
    letter-spacing: .1em;
    color: #fff;
  }
  main section.question {
    position: relative;
    padding-bottom: 10.43%;
  }
  main section.question::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 120%;
    height: 80%;
    background-color: #fff;
    transform-origin: left top;
    transform: rotate(-3deg);
  }
  main section.question .section-inner {
    padding-top: 5.22%;
  }
  main section.question .section-inner .container {
    position: relative;
    width: 90vw;
    margin: 0 auto;
  }
  main section.question .section-inner .container .heading {
    position: relative;
    z-index: 4;
    padding-top: 5.22%;
  }
  main section.question .section-inner .container .heading h2.jp-heading {
    display: inline;
    padding: .5em .7em;
    background-color: #464b50;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 2.2371));
    letter-spacing: .1em;
    color: #fff;
  }
  main section.question .section-inner .container .heading h2.jp-heading span {
    color: #cc9352;
  }
  main section.question .section-inner .container .heading h2.jp-heading:first-of-type::after {
    content: '\A';
    white-space: pre;
  }
  main section.question .section-inner .container h2.en-heading {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 12.8rem;
    /* フォールバック */
    font-size: calc(10.8rem + ((1vw - 0.32rem) * 4.4743));
    letter-spacing: .02em;
    color: #e4e8ed;
  }
  main section.question .section-inner .container ul {
    position: relative;
    z-index: 4;
    text-align: justify;
    padding-top: 10.43%;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2;
    letter-spacing: .08em;
    list-style-type: none;
  }
  main section.question .section-inner .container ul li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 2.61%;
  }
  main section.question .section-inner .container ul li:last-of-type {
    margin-bottom: 0;
  }
  main section.question .section-inner .container ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'ー\0020';
  }
  main section.question .section-inner .container .question-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 52.15vw;
    max-width: 400px;
    min-width: 300px;
    height: 52.15vw;
    max-height: 400px;
    min-height: 300px;
    opacity: .4;
    background: url("../images/image01.png") 0 0 no-repeat/contain;
  }
  main section.resolution {
    padding-bottom: 15.65%;
    background: url("../images/window.jpg") 0 0 repeat;
  }
  main section.resolution .arrow {
    position: relative;
    margin-bottom: 5.22vw;
    border-top: 20vw solid #fff;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
  }
  main section.resolution .arrow h2 {
    position: absolute;
    bottom: 12.5vw;
    left: 0;
    transform: translateX(-50%);
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 2.2371));
    letter-spacing: .1em;
    color: #464b50;
    white-space: nowrap;
  }
  main section.resolution .arrow h2 span {
    color: #cc9352;
  }
  main section.resolution .container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
  }
  main section.resolution .container .nagai {
    padding-bottom: 7.82%;
  }
  main section.resolution .container .nagai__top {
    display: flex;
    margin-bottom: 1.3%;
  }
  main section.resolution .container .nagai__top__right {
    order: 2;
    width: 110%;
    transform: translateX(-10%);
  }
  main section.resolution .container .nagai__top__right h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
    height: 10.43vw;
    max-height: 80px;
    min-height: 45px;
    padding-left: .83em;
    background-color: #464b50;
    font-size: 2.2rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 1.3423));
    letter-spacing: .1em;
    color: #fff;
  }
  main section.resolution .container .nagai__top__right h3 span {
    font-size: 1.2rem;
    /* フォールバック */
    font-size: calc(1rem + ((1vw - 0.32rem) * 0.4474));
    font-weight: normal;
  }
  main section.resolution .container .nagai__top__right p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 110%;
    height: 10.43vw;
    max-height: 80px;
    min-height: 35px;
    padding-right: 1.25em;
    background: url("../images/stripe.png") 0 0 repeat/1%;
    font-size: 1.8rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 1.3423));
    letter-spacing: .1em;
  }
  main section.resolution .container .nagai__top__left {
    order: 1;
  }
  main section.resolution .container .nagai__top__left img {
    height: 20.86vw;
    max-height: 160px;
    min-height: 80px;
    border: 2px solid #fff;
  }
  main section.resolution .container .nagai__bottom {
    text-align: justify;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2;
    letter-spacing: .08em;
  }
  main section.resolution .container .loan {
    padding-bottom: 7.82%;
    padding-bottom: 0;
  }
  main section.resolution .container .loan__top {
    display: flex;
    margin-bottom: 1.3%;
  }
  main section.resolution .container .loan__top__right {
    order: 2;
    width: 110%;
    transform: translateX(-10%);
  }
  main section.resolution .container .loan__top__right h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
    height: 10.43vw;
    max-height: 80px;
    min-height: 45px;
    padding-left: .83em;
    background-color: #464b50;
    font-size: 2.2rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 1.3423));
    letter-spacing: .1em;
    color: #fff;
  }
  main section.resolution .container .loan__top__right h3 span {
    font-size: 1.2rem;
    /* フォールバック */
    font-size: calc(1rem + ((1vw - 0.32rem) * 0.4474));
    font-weight: normal;
  }
  main section.resolution .container .loan__top__right p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 110%;
    height: 10.43vw;
    max-height: 80px;
    min-height: 35px;
    padding-right: 1.25em;
    background: url("../images/stripe.png") 0 0 repeat/1%;
    font-size: 1.8rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 1.3423));
    letter-spacing: .1em;
  }
  main section.resolution .container .loan__top__left {
    order: 1;
  }
  main section.resolution .container .loan__top__left img {
    height: 20.86vw;
    max-height: 160px;
    min-height: 80px;
    border: 2px solid #fff;
  }
  main section.resolution .container .loan__bottom {
    text-align: justify;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2;
    letter-spacing: .08em;
  }
  main section.recommended {
    position: relative;
    padding-bottom: 10.43%;
  }
  main section.recommended::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 120%;
    height: 80%;
    background-color: #fff;
    transform-origin: left top;
    transform: rotate(-3deg);
  }
  main section.recommended::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
    width: 120%;
    height: 80%;
    background-color: #fff;
    transform-origin: left bottom;
    transform: rotate(3deg);
  }
  main section.recommended .section-inner {
    padding-top: 5.22%;
  }
  main section.recommended .section-inner .container {
    position: relative;
    width: 90vw;
    margin: 0 auto;
  }
  main section.recommended .section-inner .container h2.jp-heading {
    position: relative;
    z-index: 4;
    display: inline-block;
    padding: .5em .7em;
    margin-top: 7.82%;
    background-color: #464b50;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 2.2371));
    letter-spacing: .1em;
    color: #fff;
  }
  main section.recommended .section-inner .container h2.jp-heading span {
    color: #cc9352;
  }
  main section.recommended .section-inner .container h2.en-heading {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 12.8rem;
    /* フォールバック */
    font-size: calc(10.8rem + ((1vw - 0.32rem) * 4.4743));
    letter-spacing: .02em;
    color: #e4e8ed;
  }
  main section.recommended .section-inner .container ul {
    position: relative;
    z-index: 4;
    text-align: justify;
    padding-top: 10.43%;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2;
    letter-spacing: .08em;
    list-style-type: none;
  }
  main section.recommended .section-inner .container ul li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 2.61%;
  }
  main section.recommended .section-inner .container ul li:last-of-type {
    margin-bottom: 0;
  }
  main section.recommended .section-inner .container ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'ー\0020';
  }
  main section.recommended .section-inner .container .recommended-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 52.15vw;
    max-width: 400px;
    min-width: 300px;
    height: 52.15vw;
    max-height: 400px;
    min-height: 300px;
    opacity: .4;
    background: url("../images/image02.png") 0 0 no-repeat/contain;
  }
  main section.flow {
    position: relative;
    padding-top: 5.22%;
    background: url("../images/image03.jpg") center 0 no-repeat/cover;
  }
  main section.flow::before {
    content: '';
    display: block;
    padding-bottom: 5.22%;
  }
  main section.flow .container {
    position: relative;
    width: 90vw;
    margin: 0 auto;
  }
  main section.flow .container .heading {
    text-align: right;
  }
  main section.flow .container .heading h2.jp-heading {
    position: relative;
    z-index: 4;
    display: inline-block;
    padding: .5em .7em;
    margin-top: 7.82%;
    background-color: #464b50;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 2.2371));
    letter-spacing: .1em;
    color: #fff;
  }
  main section.flow .container .heading h2.jp-heading span {
    color: #cc9352;
  }
  main section.flow .container h2.en-heading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 12.8rem;
    /* フォールバック */
    font-size: calc(10.8rem + ((1vw - 0.32rem) * 4.4743));
    letter-spacing: .02em;
    color: #fff;
  }
  main section.flow .container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10.43% 0 13.04% 0;
  }
  main section.flow .container .content__left .procedure {
    padding: 3.85%;
    margin-bottom: 3.85%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
  }
  main section.flow .container .content__left .procedure h4 {
    margin-bottom: 1.92%;
    font-size: 1.8rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
  }
  main section.flow .container .content__left .procedure h4 span {
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 2.7rem;
    /* フォールバック */
    font-size: calc(1.7rem + ((1vw - 0.32rem) * 2.2371));
  }
  main section.flow .container .content__left .procedure h4 span::after {
    content: '\0020';
  }
  main section.flow .container .content__left .procedure p {
    margin-bottom: 7.69%;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
  }
  main section.flow .container .content__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  main section.flow .container .content__right .place {
    width: 100%;
    padding: 3.85%;
    margin-bottom: 3.85%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
  }
  main section.flow .container .content__right .place h4 {
    margin-bottom: 1.92%;
    font-size: 1.8rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
  }
  main section.flow .container .content__right .place ul {
    margin-bottom: 7.69%;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .08em;
    list-style-type: none;
  }
  main section.flow .container .content__right .price {
    width: 100%;
    padding: 3.85%;
    margin-bottom: 3.85%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
  }
  main section.flow .container .content__right .price h4 {
    margin-bottom: 1.92%;
    font-size: 1.8rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
  }
  main section.flow .container .content__right .price ul {
    margin-bottom: 1.92%;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .08em;
    list-style-type: none;
  }
  main section.flow .container .content__right .price p {
    position: relative;
    padding-left: 1em;
    margin-bottom: 7.69%;
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
  }
  main section.flow .container .content__right .price p::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '※';
  }
  main section.flow .container .content__right .contact-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39.11vw;
    max-width: 300px;
    min-width: 200px;
    height: 7.82vw;
    max-height: 60px;
    min-height: 40px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: .3s ease-out;
    background-color: #e1007e;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
  }
  main section.flow .container .content__right .contact-button a:hover {
    background-color: #ae0061;
  }
  main section.flow .container .content__right .contact-button a p.icon {
    width: 3.26vw;
    max-width: 25px;
    min-width: 17.5px;
    height: 3.26vw;
    max-height: 25px;
    min-height: 17.5px;
    margin-right: 3.33%;
    background: url("../images/icon_mail.png") 0 0 no-repeat/contain;
  }
  main section.flow .container .content__right .contact-button a p.text {
    font-size: 2rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.8949));
    letter-spacing: .1em;
    color: #fff;
  }
  main section.message {
    position: relative;
    padding-bottom: 10.43%;
    background: url("../images/window.jpg") 0 0 repeat;
  }
  main section.message .diagonal {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    content: '';
    width: 120%;
    height: 30%;
    transform-origin: left top;
    transform: rotate(-3deg);
  }
  main section.message .diagonal .diagonal-inner {
    width: 100%;
    height: 100%;
    background: url("../images/window.jpg") 0 0 repeat;
    transform-origin: right top;
    transform: rotate(3deg) translateX(1.5px);
  }
  main section.message .section-inner {
    padding-top: 5.22%;
  }
  main section.message .section-inner .container {
    position: relative;
    width: 90vw;
    margin: 0 auto;
  }
  main section.message .section-inner .container h2.jp-heading {
    position: relative;
    z-index: 4;
    display: inline-block;
    padding: .5em .7em;
    margin-top: 5.22%;
    background-color: #464b50;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 2.2371));
    line-height: 1.25;
    letter-spacing: .1em;
    color: #fff;
    white-space: nowrap;
  }
  main section.message .section-inner .container h2.jp-heading span {
    color: #cc9352;
  }
  main section.message .section-inner .container h2.jp-heading span::before {
    content: '\A';
    white-space: pre;
  }
  main section.message .section-inner .container h2.en-heading {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 12.8rem;
    /* フォールバック */
    font-size: calc(10.8rem + ((1vw - 0.32rem) * 4.4743));
    letter-spacing: .02em;
    color: #fff;
  }
  main section.message .section-inner .container > p {
    position: relative;
    z-index: 4;
    text-align: justify;
    padding-top: 10.43%;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2;
    letter-spacing: .08em;
  }
  main section.message .section-inner .container .end-of-text {
    text-align: right;
  }
  main section.message .section-inner .container .end-of-text p {
    position: relative;
    z-index: 4;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2.5;
    letter-spacing: .08em;
  }
  main section.consultation {
    padding: 7.82% 0 10.43% 0;
  }
  main section.consultation .container {
    width: 90vw;
    margin: 0 auto;
  }
  main section.consultation .container h2 {
    text-align: center;
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 2.2371));
    letter-spacing: .1em;
    color: #464b50;
  }
  main section.consultation .container h2 span {
    color: #cc9352;
  }
  main section.consultation .container ul {
    padding-top: 5.22%;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2;
    letter-spacing: .08em;
    list-style-type: none;
  }
  main section.consultation .container ul li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 2.61%;
  }
  main section.consultation .container ul li:last-of-type {
    margin-bottom: 0;
  }
  main section.consultation .container ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'ー\0020';
  }
  main section.contact {
    padding-bottom: 7.82%;
    background: url("../images/image04.jpg") center 0 no-repeat/cover;
  }
  main section.contact .arrow {
    position: relative;
    margin-bottom: 5.22vw;
    border-top: 20vw solid #fff;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
  }
  main section.contact .arrow h2 {
    position: absolute;
    bottom: 12.5vw;
    left: 0;
    transform: translateX(-50%);
    font-size: 2.4rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 1.3423));
    letter-spacing: .1em;
    color: #e1007e;
    white-space: nowrap;
  }
  main section.contact .box {
    background-color: #fff;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.5);
  }
  main section.contact .box .mail {
    padding: 5.22% 0;
    margin: 0 2.61%;
    border-bottom: 1px solid #464b50;
  }
  main section.contact .box .mail h3 {
    text-align: center;
    margin-bottom: 5.22%;
    font-size: 2rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.8949));
    letter-spacing: .1em;
    color: #e1007e;
  }
  main section.contact .box .mail .mail-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2.61%;
  }
  main section.contact .box .mail .mail-group .jp-mail {
    margin-bottom: 5.22%;
  }
  main section.contact .box .mail .mail-group .jp-mail p {
    text-align: center;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 1.75;
    letter-spacing: .08em;
  }
  main section.contact .box .mail .mail-group .jp-mail p:last-of-type {
    text-decoration: underline;
  }
  main section.contact .box .mail .mail-group .vn-mail p {
    text-align: center;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 1.75;
    letter-spacing: .08em;
  }
  main section.contact .box .mail .mail-group .vn-mail p:last-of-type {
    text-decoration: underline;
  }
  main section.contact .box .form {
    padding: 5.22% 0;
    margin: 0 2.61%;
  }
  main section.contact .box .form h3 {
    text-align: center;
    margin-bottom: 5.22%;
    font-size: 2rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.8949));
    letter-spacing: .1em;
    color: #e1007e;
  }
  main section.contact .box .form form p {
    vertical-align: middle;
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .08em;
  }
  main section.contact .box .form form .form-company {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.88%;
  }
  main section.contact .box .form form .form-company input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-position {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.88%;
  }
  main section.contact .box .form form .form-position input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.88%;
  }
  main section.contact .box .form form .form-name input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.88%;
  }
  main section.contact .box .form form .form-content textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-datetime {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.88%;
  }
  main section.contact .box .form form .form-datetime .form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  main section.contact .box .form form .form-datetime .form-group input {
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-datetime .form-group input:first-of-type {
    width: 47.5%;
  }
  main section.contact .box .form form .form-datetime .form-group input:last-of-type {
    width: 47.5%;
  }
  main section.contact .box .form form .form-place {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.88%;
  }
  main section.contact .box .form form .form-place select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-place::before {
    position: absolute;
    bottom: .5em;
    right: 2%;
    content: '';
    display: block;
    width: .5em;
    height: .5em;
    border-top: .5em solid #888;
    border-right: .25em solid transparent;
    border-left: .25em solid transparent;
  }
  main section.contact .box .form form .form-specialist {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.88%;
  }
  main section.contact .box .form form .form-specialist select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-specialist::before {
    position: absolute;
    bottom: .5em;
    right: 2%;
    content: '';
    display: block;
    width: .5em;
    height: .5em;
    border-top: .5em solid #888;
    border-right: .25em solid transparent;
    border-left: .25em solid transparent;
  }
  main section.contact .box .form form .form-mail {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.33%;
  }
  main section.contact .box .form form .form-mail p {
    line-height: 1.25;
  }
  main section.contact .box .form form .form-mail p br {
    display: none;
  }
  main section.contact .box .form form .form-mail p span {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 0.4474));
  }
  main section.contact .box .form form .form-mail p span:before {
    content: '※';
  }
  main section.contact .box .form form .form-mail input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  main section.contact .box .form form .form-button {
    text-align: center;
  }
  main section.contact .box .form form .form-button input {
    width: 29.34vw;
    max-width: 225px;
    min-width: 150px;
    height: 5.87vw;
    max-height: 45px;
    min-height: 30px;
    background-color: #e1007e;
    border-radius: 5px;
    font-size: 1.8rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
    color: #fff;
    font-weight: bold;
    transition: .3s ease-out;
  }
  main section.contact .box .form form .form-button input:hover {
    background-color: #ae0061;
  }
  /* ↑↑↑↑↑ メイン 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ フッター 開始 ↓↓↓↓↓ */
  footer {
    padding: 5.22% 0;
    background-color: #464b50;
  }
  footer .container {
    position: relative;
    width: 90vw;
    margin: 0 auto;
  }
  footer .container h2 {
    position: absolute;
    bottom: -.2em;
    left: 0;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 12.8rem;
    /* フォールバック */
    font-size: calc(10.8rem + ((1vw - 0.32rem) * 4.4743));
    letter-spacing: .02em;
    color: #fff;
    opacity: .2;
  }
  footer .container .content {
    position: relative;
    z-index: 1;
  }
  footer .container .content__left h4 {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 0.4474));
    line-height: 2.5;
    letter-spacing: .1em;
    font-weight: bold;
  }
  footer .container .content__left h4 a {
    color: #fff;
    text-decoration: none;
  }
  footer .container .content__left p {
    text-align: justify;
    margin-bottom: 2em;
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
    color: #fff;
  }
  footer .container .content__right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  footer .container .content__right img {
    width: 5.22vw;
    max-width: 40px;
    min-width: 30px;
    height: 5.22vw;
    max-height: 40px;
    min-height: 30px;
  }
  footer .container .content__right p:last-of-type {
    font-size: 1.2rem;
    /* フォールバック */
    font-size: calc(1rem + ((1vw - 0.32rem) * 0.4474));
    letter-spacing: .1em;
    color: #fff;
    white-space: nowrap;
  }
  /* ↑↑↑↑↑ フッター 終了 ↑↑↑↑↑ */
}
