@charset "UTF-8";
@media screen and (min-width: 768px) {
  /* ↓↓↓↓↓ 基本設定 開始 ↓↓↓↓↓ */
  html {
    font-family: 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
    font-size: 62.5%;
  }
  body {
    overflow: hidden;
    font-size: 1.4rem;
    letter-spacing: .08em;
    color: #fff;
    background-color: #071429;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  /* ↑↑↑↑↑ 基本設定 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ ナビゲーション 開始 ↓↓↓↓↓ */
  nav {
    position: fixed;
    z-index: 10;
    width: 6.25vw;
    max-width: 80px;
    height: 100vh;
    background-color: #000;
  }
  nav .menu-button {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  nav .menu-button .hamburger-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 25%;
    margin: auto;
    cursor: pointer;
  }
  nav .menu-button .hamburger-icon span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  nav .contact-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  nav .contact-button::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 33.33%;
    height: 1px;
    background-color: #fff;
  }
  nav .contact-button p {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    letter-spacing: .6em;
    transform: rotate(-90deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  nav .contact-button p {
    font-size: 1.2rem;
    /* フォールバック */
    font-size: calc(1rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  nav .contact-button p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  /* ↑↑↑↑↑ ナビゲーション 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ コンテンツ 開始 ↓↓↓↓↓ */
  .content {
    display: flex;
  }
  .content::before {
    content: '';
    display: block;
    width: 6.25vw;
    max-width: 80px;
  }
  .content .container {
    position: relative;
    flex: 1;
  }
  /* ↓↓↓↓↓ ヘッダー 開始 ↓↓↓↓↓ */
  header {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.25vw;
    max-height: 80px;
    padding: 0 3.33%;
    background-color: #000;
  }
  header h1 {
    width: 16.5%;
    max-width: 198px;
    height: 72.5%;
    max-height: 58px;
  }
  header h1 img {
    width: 100%;
    height: 100%;
  }
  header .sns-icon {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  header .sns-icon p {
    font-size: 2.8rem;
    /* フォールバック */
    font-size: calc(2rem + ((1vw - 0.768rem) * 1.5656));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  header .sns-icon p {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 768px) {
  header .sns-icon p:first-of-type {
    margin-right: .71em;
  }
  /* ↑↑↑↑↑ ヘッダー 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ メイン 開始 ↓↓↓↓↓ */
  main {
    /* ↓↓↓↓↓ セクション(hero) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(hero) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(about-glamping) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(about-glamping) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(tent-room) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(tent-room) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(glamping-tent) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(glamping-tent) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(outdoors) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(outdoors) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(meal) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(meal) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(about-reservation) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(about-reservation) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(attention) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(attention) 終了 ↑↑↑↑↑ */
    /* ↓↓↓↓↓ セクション(contact) 開始 ↓↓↓↓↓ */
    /* ↑↑↑↑↑ セクション(contact) 終了 ↑↑↑↑↑ */
  }
  main .hero {
    position: relative;
    height: 100vh;
    margin-bottom: 8.33%;
  }
  main .hero__text {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding-left: 3.33%;
    white-space: nowrap;
  }
  main .hero__text__title {
    order: 2;
    display: flex;
    align-items: center;
  }
  main .hero__text__title h2 {
    font-family: 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', sans-serif;
    letter-spacing: .04em;
    font-weight: normal;
    margin-right: 3em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .hero__text__title h2 {
    font-size: 2rem;
    /* フォールバック */
    font-size: calc(1.8rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .hero__text__title h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  main .hero__text__title .contact-button {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    letter-spacing: .6em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .hero__text__title .contact-button {
    font-size: 1.2rem;
    /* フォールバック */
    font-size: calc(1rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .hero__text__title .contact-button {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .hero__text__title .contact-button a {
    display: block;
    padding: 1.5em 3em;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  main .hero__text__subtitle {
    order: 1;
  }
  main .hero__text__subtitle p:first-of-type {
    font-family: 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', sans-serif;
    letter-spacing: .104em;
    padding-top: 3.75em;
    margin-bottom: 1.875em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .hero__text__subtitle p:first-of-type {
    font-size: 1.6rem;
    /* フォールバック */
    font-size: calc(1.4rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .hero__text__subtitle p:first-of-type {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  main .hero__text__subtitle p:last-of-type {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: .06em;
    margin-bottom: 1.25em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .hero__text__subtitle p:last-of-type {
    font-size: 4.8rem;
    /* フォールバック */
    font-size: calc(4rem + ((1vw - 0.768rem) * 1.5656));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .hero__text__subtitle p:last-of-type {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 768px) {
  main .hero__image {
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75vw;
    height: 100vh;
  }
  main .hero__image::before {
    content: '';
    display: block;
    height: 6.25vw;
    max-height: 80px;
  }
  main .hero__image__slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  main .hero__image__slide li {
    list-style-type: none;
    position: absolute;
    text-align: right;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  main .hero__image__slide li.slide02 {
    visibility: hidden;
  }
  main .hero__image__slide li.slide03 {
    visibility: hidden;
  }
  main .hero__image__slide li img {
    height: 100%;
  }
  main .hero__image__button {
    position: absolute;
    bottom: 4.17%;
    right: 4.17%;
    display: flex;
  }
  main .hero__image__button li {
    list-style-type: none;
    width: 1em;
    height: 1em;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  main .hero__image__button li:first-of-type {
    margin-right: 1em;
    background-color: #fff;
  }
  main .hero__image__button li:nth-of-type(2) {
    margin-right: 1em;
  }
  main .hero .scroll {
    position: absolute;
    bottom: 0;
    left: 3.33%;
    transform-origin: left top;
    transform: rotate(-90deg);
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    letter-spacing: .9em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .hero .scroll {
    font-size: 1rem;
    /* フォールバック */
    font-size: calc(1rem + ((1vw - 0.768rem) * 0));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .hero .scroll {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  main .hero .scroll::after {
    content: '';
    display: block;
    width: 120%;
    height: 1em;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: translateX(-1.5em) skew(-45deg);
  }
  main .about-glamping {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8.33%;
  }
  main .about-glamping::before {
    position: absolute;
    top: 0;
    left: 1.66%;
    content: '';
    display: block;
    width: 60%;
    height: 1px;
    background-color: #777;
  }
  main .about-glamping::after {
    position: absolute;
    bottom: 0;
    left: 1.66%;
    content: '';
    display: block;
    width: 60%;
    height: 1px;
    background-color: #777;
  }
  main .about-glamping__text {
    width: 30%;
    height: 480px;
    margin-right: 6.66%;
    background-color: #000;
  }
  main .about-glamping__text__inner {
    transform: translate(11.11%, 8.33%);
    height: 100%;
    margin: 0 5.55%;
  }
  main .about-glamping__text__inner h2 {
    text-align: center;
    font-family: 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', sans-serif;
    font-weight: normal;
    margin-bottom: 22.22%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .about-glamping__text__inner h2 {
    font-size: 2.2rem;
    /* フォールバック */
    font-size: calc(2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .about-glamping__text__inner h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .about-glamping__text__inner h2 span {
    display: inline-block;
    text-align: left;
  }
  main .about-glamping__text__inner p {
    text-align: justify;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .about-glamping__text__inner p {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .about-glamping__text__inner p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .about-glamping__text__inner p:first-of-type {
    text-align: center;
    margin-bottom: 22.22%;
  }
  main .about-glamping__image {
    position: absolute;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 63.34%;
    height: 100%;
  }
  main .about-glamping__image p {
    height: 75%;
  }
  main .about-glamping__image p img {
    height: 100%;
  }
  main .tent-room {
    position: relative;
    display: flex;
    margin-bottom: 8.33%;
  }
  main .tent-room__text {
    position: relative;
    width: 30%;
    height: 360px;
    margin-left: 6.66%;
  }
  main .tent-room__text::before {
    position: absolute;
    top: -5.55%;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  main .tent-room__text::after {
    position: absolute;
    top: 5.55%;
    right: -11.11%;
    z-index: -1;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.5);
  }
  main .tent-room__text__inner {
    transform: translate(-11.11%, 11.11%);
    height: 100%;
    margin: 0 5.55%;
  }
  main .tent-room__text__inner h2 {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 22.22%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .tent-room__text__inner h2 {
    font-size: 3.2rem;
    /* フォールバック */
    font-size: calc(3rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .tent-room__text__inner h2 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .tent-room__text__inner p {
    text-align: justify;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .tent-room__text__inner p {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .tent-room__text__inner p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .tent-room__image {
    position: absolute;
    right: 0;
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 80%;
    height: 100%;
  }
  main .tent-room__image p {
    height: 100%;
  }
  main .tent-room__image p img {
    height: 100%;
  }
  main .glamping-tent {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8.33%;
  }
  main .glamping-tent__text {
    position: relative;
    width: 30%;
    height: 360px;
    margin-right: 6.66%;
  }
  main .glamping-tent__text::before {
    position: absolute;
    top: -5.55%;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  main .glamping-tent__text::after {
    position: absolute;
    top: 5.55%;
    left: -11.11%;
    z-index: -1;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.5);
  }
  main .glamping-tent__text__inner {
    transform: translate(11.11%, 11.11%);
    height: 100%;
    margin: 0 5.55%;
  }
  main .glamping-tent__text__inner h2 {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 22.22%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .glamping-tent__text__inner h2 {
    font-size: 3.2rem;
    /* フォールバック */
    font-size: calc(3rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .glamping-tent__text__inner h2 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .glamping-tent__text__inner p {
    text-align: justify;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .glamping-tent__text__inner p {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .glamping-tent__text__inner p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .glamping-tent__image {
    position: absolute;
    left: 0;
    z-index: -2;
    display: flex;
    overflow: hidden;
    width: 80%;
    height: 100%;
  }
  main .glamping-tent__image p {
    height: 100%;
  }
  main .glamping-tent__image p img {
    height: 100%;
  }
  main .outdoors {
    position: relative;
    display: flex;
    margin-bottom: 8.33%;
  }
  main .outdoors__text {
    position: relative;
    width: 30%;
    height: 360px;
    margin-left: 6.66%;
  }
  main .outdoors__text::before {
    position: absolute;
    top: -5.55%;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  main .outdoors__text::after {
    position: absolute;
    top: 5.55%;
    right: -11.11%;
    z-index: -1;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.5);
  }
  main .outdoors__text__inner {
    transform: translate(-11.11%, 11.11%);
    height: 100%;
    margin: 0 5.55%;
  }
  main .outdoors__text__inner h2 {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 22.22%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .outdoors__text__inner h2 {
    font-size: 3.2rem;
    /* フォールバック */
    font-size: calc(3rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .outdoors__text__inner h2 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .outdoors__text__inner p {
    text-align: justify;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .outdoors__text__inner p {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .outdoors__text__inner p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .outdoors__image {
    position: absolute;
    right: 0;
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 80%;
    height: 100%;
  }
  main .outdoors__image p {
    height: 100%;
  }
  main .outdoors__image p img {
    height: 100%;
  }
  main .meal {
    position: relative;
    margin-bottom: 13.33%;
  }
  main .meal h2 {
    display: flex;
    align-items: center;
    font-family: 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', sans-serif;
    font-weight: normal;
    margin-right: 3.33%;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .meal h2 {
    font-size: 2.2rem;
    /* フォールバック */
    font-size: calc(2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .meal h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .meal h2::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 1.66%;
    background-color: #777;
  }
  main .meal__content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  main .meal__content .dinner {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 320px;
  }
  main .meal__content .dinner__text {
    position: relative;
    width: 23.33%;
    margin-right: 6.66%;
  }
  main .meal__content .dinner__text::before {
    position: absolute;
    top: -40px;
    z-index: -1;
    content: '';
    display: block;
    width: 100%;
    height: 1000px;
    background-color: #000;
  }
  main .meal__content .dinner__text__inner {
    transform: translate(14.29%, 14.29%);
    height: 280px;
    margin: 0 7.14%;
  }
  main .meal__content .dinner__text__inner h3 {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 28.57%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .meal__content .dinner__text__inner h3 {
    font-size: 3.2rem;
    /* フォールバック */
    font-size: calc(3rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .meal__content .dinner__text__inner h3 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .meal__content .dinner__text__inner p {
    text-align: justify;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .meal__content .dinner__text__inner p {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .meal__content .dinner__text__inner p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .meal__content .dinner__image {
    position: absolute;
    left: 0;
    width: 66.66%;
  }
  main .meal__content .dinner__image__slide {
    display: flex;
    flex-direction: row-reverse;
    height: 280px;
    background-color: #333;
  }
  main .meal__content .dinner__image__slide li {
    list-style-type: none;
  }
  main .meal__content .dinner__image__button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  main .meal__content .dinner__image__button .button01 {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #fff;
    cursor: pointer;
  }
  main .meal__content .dinner__image__button .button01::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    border-right: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  main .meal__content .dinner__image__button .button02 {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #fff;
    cursor: pointer;
    transform: translateX(50%);
  }
  main .meal__content .dinner__image__button .button02::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    border-left: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  main .meal__content .desert {
    position: relative;
    display: flex;
    height: 320px;
  }
  main .meal__content .desert__text {
    position: relative;
    width: 23.33%;
    margin-left: 6.66%;
  }
  main .meal__content .desert__text::before {
    position: absolute;
    top: -320px;
    z-index: -1;
    content: '';
    display: block;
    width: 100%;
    height: 920px;
    background-color: #000;
  }
  main .meal__content .desert__text__inner {
    transform: translate(-14.29%, 14.29%);
    height: 280px;
    margin: 0 7.14%;
  }
  main .meal__content .desert__text__inner h3 {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 28.57%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .meal__content .desert__text__inner h3 {
    font-size: 3.2rem;
    /* フォールバック */
    font-size: calc(3rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .meal__content .desert__text__inner h3 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .meal__content .desert__text__inner p {
    text-align: justify;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .meal__content .desert__text__inner p {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .meal__content .desert__text__inner p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .meal__content .desert__image {
    position: absolute;
    right: 0;
    width: 66.66%;
  }
  main .meal__content .desert__image__slide {
    display: flex;
    height: 280px;
    background-color: #333;
  }
  main .meal__content .desert__image__slide li {
    list-style-type: none;
  }
  main .meal__content .desert__image__button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  main .meal__content .desert__image__button .button01 {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #fff;
    cursor: pointer;
    transform: translateX(-50%);
  }
  main .meal__content .desert__image__button .button01::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    border-right: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  main .meal__content .desert__image__button .button02 {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #fff;
    cursor: pointer;
  }
  main .meal__content .desert__image__button .button02::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    border-left: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  main .meal__content .morning {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 320px;
  }
  main .meal__content .morning__text {
    position: relative;
    width: 23.33%;
    margin-right: 6.66%;
  }
  main .meal__content .morning__text::after {
    position: absolute;
    bottom: 0;
    right: 107.14%;
    content: '';
    display: block;
    width: 285.71%;
    height: 1px;
    background-color: #777;
  }
  main .meal__content .morning__text__inner {
    transform: translate(14.29%, 14.29%);
    height: 280px;
    margin: 0 7.14%;
  }
  main .meal__content .morning__text__inner h3 {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 28.57%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .meal__content .morning__text__inner h3 {
    font-size: 3.2rem;
    /* フォールバック */
    font-size: calc(3rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .meal__content .morning__text__inner h3 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .meal__content .morning__text__inner p {
    text-align: justify;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .meal__content .morning__text__inner p {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .meal__content .morning__text__inner p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .meal__content .morning__image {
    position: absolute;
    left: 0;
    width: 66.66%;
  }
  main .meal__content .morning__image__slide {
    display: flex;
    flex-direction: row-reverse;
    height: 280px;
    background-color: #333;
  }
  main .meal__content .morning__image__slide li {
    list-style-type: none;
  }
  main .meal__content .morning__image__button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  main .meal__content .morning__image__button .button01 {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #fff;
    cursor: pointer;
  }
  main .meal__content .morning__image__button .button01::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    border-right: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  main .meal__content .morning__image__button .button02 {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #fff;
    cursor: pointer;
    transform: translateX(50%);
  }
  main .meal__content .morning__image__button .button02::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    border-left: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  main .about-reservation {
    margin: 0 16.66%;
  }
  main .about-reservation h2 {
    text-align: center;
    margin-bottom: 2.5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .about-reservation h2 {
    font-size: 2.2rem;
    /* フォールバック */
    font-size: calc(2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .about-reservation h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .about-reservation h4 {
    display: flex;
    align-items: center;
    margin-bottom: 7.5%;
  }
  main .about-reservation h4 span {
    font-family: 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', sans-serif;
    letter-spacing: .8em;
    font-weight: normal;
    margin-right: -.8em;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .about-reservation h4 span {
    font-size: 1.8rem;
    /* フォールバック */
    font-size: calc(1.6rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .about-reservation h4 span {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  main .about-reservation h4::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-right: 3.75%;
    background-color: #fff;
  }
  main .about-reservation h4::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 3.75%;
    background-color: #fff;
  }
  main .about-reservation table {
    border-collapse: collapse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .about-reservation table {
    font-size: 1.4rem;
    /* フォールバック */
    font-size: calc(1.2rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .about-reservation table {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  main .about-reservation table tr th {
    text-align: right;
    vertical-align: top;
    font-weight: normal;
    white-space: nowrap;
  }
  main .about-reservation table tr td {
    padding: 0 0 2.5% 5%;
  }
  main .about-reservation table tr td ul li {
    list-style-type: none;
    position: relative;
    padding-left: 1em;
  }
  main .about-reservation table tr td ul li::before {
    position: absolute;
    left: 0;
    content: '-\0020';
  }
  main .about-reservation table tr td .footnote {
    position: relative;
    letter-spacing: .12em;
    padding-left: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main .about-reservation table tr td .footnote {
    font-size: 1.2rem;
    /* フォールバック */
    font-size: calc(1rem + ((1vw - 0.768rem) * 0.3914));
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  main .about-reservation table tr td .footnote {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  main .about-reservation table tr td .footnote::before {
    position: absolute;
    left: 0;
    content: '※';
  }
  /* ↑↑↑↑↑ メイン 終了 ↑↑↑↑↑ */
  /* ↓↓↓↓↓ フッター 開始 ↓↓↓↓↓ */
  /* ↑↑↑↑↑ フッター 終了 ↑↑↑↑↑ */
  /* ↑↑↑↑↑ コンテンツ 終了 ↑↑↑↑↑ */
}
